{% extends 'admin/base.html' %} 
<!-------comment------------>
{% load static %}
<!-------load static block------------>
{% block branding %}
<h1 style="background-color: #ffb86c;" id='head'>
    <img 
    src="{% static '/img/logo.png' %}" 
    alt="BC Real Estate" 
    height="77"
    width="95" 
    class="brand_img"
  />
</h1>
{% endblock %}
<!------ add-CSS-style ---->
{% block extrastyle %} 
<!------ add-CSS-link ------>
<link rel="stylesheet" href={% static 'css/admin.css' %}/> 
{% endblock %}